

<footer>
    <div style="background-color: #232323;">
        <div class="container foot">
            <div class="row">
                <div class="col-sm-3">
                    <div class="d-flex flex-column">
                        <img width="150" src="~/assets/images/logo.png" alt="">
                        <p>
                            Sed ut perspiciatis unde omnis iste natus and error sit voluptatem accusantium
                            doloremque
                            laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis quasi
                        </p>
                        <small>Follow us:</small>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="d-flex flex-column">
                        <ul>
                            <li>
                                <h4>LATEST TWEETS</h4>
                            <li>
                            <li>
                                <i class="lab la-twitter"></i> <a href="https://twitter.com/RobWattCT">@@RobWattCT</a>
                                Hey,
                                please DM us so we can provide more details. Thanks!
                            </li>
                            <li><a href="">2 years ago</a></li>
                            <li>
                                <i class="lab la-twitter"></i> Here comes La Comète! ☄️ <a href="https://t.co/ApIk6kk3Tt">https://t.co/ApIk6kk3Tt</a> This stellar
                                #WordPress
                                theme
                                is made for any type of modern… <a href="https://t.co/h2ZWqjR78O">https://t.co/h2ZWqjR78O</a>
                            </li>
                            <li><a href="">3 years ago</a></li>

                        </ul>
                    </div>
                </div>
                <div class="col-sm-3">
                    <ul class="d-flex flex-column ">
                        <h4>INSTAGRAM FEED</h4>
                        <div class="d-flex flex-wrap gap-2">
                        <li>
                            <img width="100"
                                 src="~/assets/images/121819492_127895318781890_7521021113032564136_n.jpg" alt="">
                        </li>
                        <li>
                            <img width="100"
                                 src="~/assets/images/121827967_2434236833552793_5124099969425743415_n.jpg" alt="">
                        </li>
                        <li>
                            <img width="100"
                                 src="~/assets/images/121806931_214671423334838_2021518401710234113_n.jpg" alt="">
                        </li>
                        <li>
                            <img width="100"
                                 src="~/assets/images/121827967_2434236833552793_5124099969425743415_n.jpg" alt="">
                        </li>
                </div>
            </div>
            <div class="col-sm-3">
                <h4>JOIN THE CLUB</h4>
                <div class="d-flex flex-column">
                    <div class="d-flex">
                        <input type="text" placeholder="Email Address" name="" id="">
                        <button class="text-uppercase">Join</button>
                    </div>
                    <p>Sign me up to receive emails on new product arrivals special offers.</p>
                    <hr>
                    <small>
                        Contact us: <span style="color: #E1BE64; font-size: 15px;">
                            00 34 938 60 24
                            24
                        </span>
                    </small>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div style="background-color: #181818; padding: 15px 0px;"
         class="d-flex justify-content-center align-items-center">
        <p class="text-white " style="font-size: 12px;">
            © 2022 <a href="" style="color: rgb(95, 95, 95);">
                Qode
                Interactive
            </a>, All Rights Reserved
        </p>
    </div>
</footer>